# Java
.gradle/
build/
out/
*.class

*.jar

# IntelliJ
.idea/
*.iml

# VS code
node_modules/
dist/

#Environment
.env
.env.*
!/.env.example

#Logs
logs/
*.log

#Uploads
uploads/

#OS
.DS_Store
Thumbs.db

#Local settings
application-local.yml
application-prod.yml